/* General Styles */
/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Use the font for headings */
h1, h2, h3, h4, h5, h6, th {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder; /* Use the 700 weight for bold */
}

/* Use the font for other elements as needed */
p, a, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /* Use the 400 weight for normal */
}


body {
  font-size: 16px;
  color: #333;
  margin-left: 5%;
  background-size: cover;
  background: fixed;
  overflow-x: hidden;
}

button{
  width: 200px;
  height: 40px;
  border-radius: 5px;
}
button:hover{
  background-color: #686868;
  color: white;
  transition: 0.3s;
}

#hero{
    font-size: 50px;
}

#vehicles{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

#vehicles-img{
  border: 2px solid #959595;
  border-radius: 25px;

  width: 450px;
  height: 270px;
  scale: 100%;
  transition: 0.3s;
}
#vehicles-img:hover{
  scale: 105%;
  transition: 0.3s;
}

#features{
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
#featuresP{
  font-size: 30px;
  margin-top: -25px;
  margin-bottom: 50px;
  color: #686868;
}
#feasturesHeading{
  display: flex;
  justify-content: center;
  align-items: center;
}
#featureDivMain{
  display: flex;
  justify-content: center;
  align-items: center;
}
#featureDiv{
  width: 20%;
  height: 300px;
  font-size: 20px;

  border: 2px solid gray;
  border-radius: 10px;
  margin-right: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#featureDivIcon{
  width: 75px;
  height: 75px;
  padding-bottom: 50px;
  scale: 100%;
  transition: 0.3s;
}

#featureDivIcon:hover{
  scale: 120%;
  transition: 0.3s;
}


a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  color: #b3b3b3;
}
nav ul {
    list-style: none;
    margin: 0;
    margin-left: 100%;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px; 
  }
  
  nav li:last-child {
    margin-right: 0; 
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    margin-right: 10%;
    font-size: 40px;
  }
  
th {
  background-color: #686868;
  color: #fff;
  padding: 0.5rem;
  text-align: left;
}
  
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-family: sans-serif;
  font-weight: lighter;
}
  
tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
tr:hover {
  background-color: #e2e2e2;
  transition: 0.3s;
}
  
@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
}
    
th {
  text-align: center;
}
    
th, td {
  border: none;
}
    
tr {
  margin: 1rem 0;
  border-bottom: 1px solid #ccc;
}
    
tr:last-child {
  border-bottom: none;
}
    
td:before {
  content: attr(data-label);
  font-weight: bold;
  display: inline-block;
  width: 100px;
  margin-right: 1rem;
  }
}

footer {
  padding: 30px 0;
}
  
#container {
  max-width: 1200px;
  margin: 0 auto;
}
  
#footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
  
#footer-column {
  width: 100%;
  max-width: 350px;
  margin-bottom: 30px;
}
  
#footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
  
#social-icons {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
  
#social-icons li {
  margin-right: 10px;
}
  
#social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}
  
#social-icons a:hover {
  background-color: #f44336;
}
  
#footer-text {
  font-size: 14px;
  margin-bottom: 10px;
}
  
#newsletter-form {
  display: flex;
  flex-wrap: wrap;
}
  
#newsletter-input {
  flex: 1;
  width: 100%;
  max-width: 250px;
  margin-right: 10px;
  border-radius: 5px;
}